:root {
  --bs-blue: #0d6efd;
}

.fa-bell {
  color: rgb(247, 164, 9);
}

/*SECTION LINK-BAR*/

.side-bar {
  width: 90px;
  height: calc(101vh - 80px);
  background-color: rgb(16, 16, 158);
  background-image: url(../img/sidebar-bg.png);
  display: flex;
  flex-direction: column;
}

.up-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-home {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-stream {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-signal {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-cog {
  color: white;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.text-icons {
  font-size: large;
  margin-left: 5px;
  color: white;
  display: none;
}

.options {
  margin: auto;
}

/*CONTAINER*/

.bg-color {
  background-color: var(--bs-blue);
}

.avatar {
  width: 20px;
  aspect-ratio: 1;
}

.h4-bool {
  color: white;
}

.bool-title {
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  .side-bar {
    width: 180px;
  }

  .text-icons {
    display: inline;
  }
}
