:root {
  --bs-blue: #0d6efd;
}

body {
  overflow: hidden;
}

.fa-bell {
  color: rgb(247, 164, 9);
  margin-top: 12px;
}

/*SECTION LINK-BAR*/

.side-bar {
  width: 90px;
  height: calc(100vh - 80px);
  background-color: rgb(16, 16, 158);
  background-image: url(../img/sidebar-bg.png);
  display: flex;
  flex-direction: column;
}

.up-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-home {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-stream {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-signal {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fa-cog {
  color: white;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.text-icons {
  font-size: large;
  margin-left: 5px;
  color: white;
  display: none;
}

.options {
  margin: auto;
}
/*MAIN*/
.main-contents {
  height: calc(100vh - 80px);
  overflow: auto;
}
/*CONTAINER*/

.bg-color {
  background-color: rgb(38, 38, 226);
}

.fa-angle-double-right {
  color: white;
}

.avatar {
  width: 20px;
  aspect-ratio: 1;
}

.studente {
  color: white;
}

.bool-title {
  color: white;
  font-size: 20px;
}

.todo {
  background-color: lightgray;
}

@media screen and (min-width: 992px) {
  .side-bar {
    width: 180px;
  }

  .text-icons {
    display: inline;
  }
}
